body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 240, 240);
}

.noidung {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.footer-menu {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer-menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-menu a:hover {
    text-decoration: underline;
}
